<dialog class="dialog create">
    <div class="form-header">
        <label for="newFolder"><h2>New Folder</h2></label>
    </div>
    <form
        class="fs create"
        action="<%= "/create" + (locals.dest !== undefined ? "/" + locals.dest.join("/") : "") %>"
        method="POST">
      <% if (locals.errors) { %>
          <p class="error"><%= locals.errors %></p>
      <% } %>
      <input type="field" name="newFolder" id="newFolder" required>
      <button class="submit btn login" type="submit">Create</button>
    </form>
</dialog>
