<dialog class="dialog upload">
    <div class="form-header">
        <label for="file"><h2>Upload File</h2></label>
    </div>
    <form
        class="fs upload"
        action=<%= "/uploads" + (locals.dest !== undefined ? "/" + locals.dest.join("/") : "") %>
        method="post"
        enctype="multipart/form-data">
      <% if (locals.errors) { %>
          <p class="error"><%= locals.errors %></p>
      <% } %>
      <div class="input-con">
          <input type="file" name="file" id="file" required/>
      </div>
      <button class="submit btn login" type="submit">Upload</button>
    </form>
</dialog>
