<dialog class="dialog upload">
    <form
        class="upload"
        action=<%= locals.uploadDest ? locals.uploadDest : "/uploads" %>
        method="post"
        enctype="multipart/form-data">
      <% if (locals.errors) { %>
          <p class="error"><%= locals.errors %></p>
      <% } %>
      <div class="input-con">
          <input type="file" name="file" required />
      </div>
      <button class="submit btn login" type="submit">Upload</button>
    </form>
</dialog>
