<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">
    <!--<script src="./handleDialog.js" defer></script>-->

    <meta charset="UTF-8">
    <title>FileSafe</title>
</head>
<body>
    <%- include("./partials/navbar") %>
    <div class="page upgrade">
        <% if (locals?.files || locals?.folders) { %>
            <% if (locals?.folders) { %>
                <% folders.forEach((folder) => { %>
                    <div class="fs-entry folder">
                        <div></div>
                        <span><%= folder.foldername %></span>
                    </div>
                <% }) %>
            <% } %>
            <% if (locals?.files) { %>
                <% files.forEach((file) => { %>
                    <button class="fs-entry file">
                        <div></div>
                        <span><%= file.filename %></span>
                    </button>
                <% }) %>
            <% } %>
        <% } else { %>
            <p> Nothing to see here. </p>
        <% } %>
    </div>
</body>
</html>
