<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">
    <script src="./handleDialog.js" defer></script>

    <meta charset="UTF-8">
    <title>Silver States</title>
</head>
<body>
    <%- include("./partials/navbar") %>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" />
      <button class="submit btn login" type="submit">Upload</button>
    </form>
</body>
</html>
